* {
    margin: 0;
    padding: 0;
    
}

body {
    background-image: url('../img/doisCaminhoes.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    background-position-x: 40%;
    background-position-y: 30%;
    color: #ffff;
    font-family: sans-serif;
}

.topo {
    background-image: url('../img/SantosLog\ -\ LOGO.jpeg');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 20%;
    background-color: white;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items:center;
    padding: 15px;
}

a {
    text-decoration: none;
    color: black;
    padding: 10px;
}

a:hover {
    background-color: black;
    color: white;
}

main {
    background-color: rgba(0,0, 0, 0.7);
    height: 100vh ;
    padding: 5.45%;
}

main * {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

main h2 {
    font-size: 30px;
}

.alert p {
    color: black;
    background-color: yellow;
}

#contatoResultado{
    text-decoration: underline;
    color: white;
}

#btnCalcular {
    margin: 15px;
}

#btnCalcular:hover {
    background-color: #27e951;
}

@media (min-width: 1400px) {
    main {
        height: 100vh; 
    }
    .topo {
        background-size: 30%;
        height: auto;
        filter: grayscale(50%);
    }
    a {
        font-size: 35px;
    }
    main * {
        font-size: 25px;
    }
    main h2 {
        font-size: 45px;
    }
    
}

@media (max-width:532px) {
    .topo {
        background-image: url('../img/SantosLog\ -\ LOGO.jpeg');
        background-repeat: no-repeat;
        background-position: left;
        background-size: 70%;
        background-color: white;
        width: auto;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items:center;
        padding: 15px;
    }
    a {
        font-size: 10px;
    }
    main h2 {
        font-size: 15px;
    }
   main {
       display: flex;
       flex-direction: column;
       align-items: center;
   }
}

