* {
    margin: 0;
    padding: 0;
    
}

body {
    background-image: url('../img/doisCaminhoes.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    background-position-x: 40%;
    background-position-y: 30%;
    color: #ffff;
    font-family: sans-serif;
}

.topo {
    background-image: url('../img/Logo-Black.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #2d2d2d;
    width: auto;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items:center;
    padding: 15px;
}


a {
    text-decoration: none;
    color: black;
    padding: 10px;
}

#img {
    height: 35px;
}

main {
    background-color: rgba(0,0, 0, 0.7);
    height: 75vh ;
    padding: 5.45%;
}

main * {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

main h2 {
    font-size: 30px;
}

.alert p {
    color: black;
    background-color: yellow;
}

#contatoResultado{

    color: white;
}

#btnCalcular {
    padding: 5px;
    margin: 10px;
    width: 100px;
}

#btnCalcular:hover {
    color: white;
    background-color: #28292c;
}

@media (min-width: 1400px) {
    main {
        height: 70vh; 
    }
    a {
        font-size: 20px;
    }
    main * {
        font-size: 20px;
    }
    main h2 {
        font-size: 45px;
    }
    
}

@media (max-width:532px) {
    a {
        font-size: 10px;
    }
    main h2 {
        font-size: 15px;
    }
   main {
       display: flex;
       flex-direction: column;
       align-items: center;
       height: 90vh;
   }
}

